<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Htmx</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link rel="stylesheet" href="/static/index.css" />
</head>

<body>
    <main>
        <header>
            <ul id="stock-list">

            </ul>
        </header>
        <section>
            <input type="search" name="key" placeholder="Search...." hx-get="/search"
                hx-trigger="keyup changed delay:500ms" hx-target="#search-results" />
            <div id="search-results"></div>
        </section>
    </main>
    <h1>hiii from Go Gophers</h1>
</body>

</html>